
#bd .main {
  float: left;
  width: 760px;
  margin-right: 20px;
  background: #fff;
}
#bd .main .filter {
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  padding: 20px;
}
#bd .main .filter .filter-row {
  margin-bottom: 15px;
}
#bd .main .filter .title {
  float: left;
  font-weight: 700;
}
#bd .main .filter .tags {
  margin-left: 50px;
}
#bd .main .filter .tags .tag {
  margin-right: 5px;
  display: inline-block;
  color: #4a86b4;
  cursor: pointer;
}
#bd .main .filter .tags .tag:hover {
  text-decoration: underline;
}

#bd .main .meals {
  padding: 20px;
  background: #f5f5f5;
}
#bd .main .meals .meal {
  float: left;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 5px;
  width: 345px;
  overflow: hidden;
  height: 120px;
  border-bottom: 1px solid #ccc;
}

#bd .main .meals .left{
  margin-right:30px;
}
#bd .main .meals .meal .right{}
#bd .main .meals .meal .pic {
  float: left;
  width: 160px;
  height: 120px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.35);
}
#bd .main .meals .meal .pic img {
  height:120px;
  display: block;
}
#bd .main .meals .meal .info {
  margin: 0 10px 0 170px;
  position: relative;
  padding: 5px 0;
}
#bd .main .meals .meal .info .title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

#bd .main .meals .meal .info .title a{
  color:#333;
}
#bd .main .meals .meal .info .info-row {
  font-size: 12px;
}
#bd .main .meals .meal .participants {
  margin-top: 10px;
}
#bd .participants .user {
  float: left;
  margin-right: 4px;
}
#bd .participants .user .avatar {
  float: left;
  width: 32px;
  height: 32px;
}
#bd .main .more {
  background-color: #f5f5f5;
  padding: 15px;
  border-top: 1px dashed #ccc;
}
#bd .main .more .load {
  color: #fff;
  border-radius: 5px;
  width: 100px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  background-color: #39d;
}

#bd .aside {
  float: left;
  width: 180px;
}

#bd .aside .btn{
  display: block;
  padding: 10px;
}

#bd .aside .box{
  margin-bottom: 15px;
}

#bd .aside .box .body {
  padding:5px;
  background-color: #fff;
}

#bd .aside .box .user {
  padding:5px;
  border-bottom: 1px dashed #ccc;
}

#bd .aside .box .last{
  margin-bottom: 0;
  border-bottom: none;
}

#bd .aside .box .user .avatar{
  float:left;
  width:50px;
  height:50px;
}


#bd .aside .box .user .name,
#bd .aside .box .user .company,
#bd .aside .box .user .duty{
  margin-left:75px;
  display: block;
}

#bd .aside .head {
  background-color: #a0c0dc;
  border-top: 3px solid #689FBF;
  padding: 10px;
  color: #fff;
}
