#bd .main{
  float:left;
  width:760px;
  margin-right:20px;
}

#bd .aside{
  float:left;
  width:180px;
}

.meal-info {
  background-color: #fff;
  margin-bottom: 20px;
}
.meal-info .title {
  background-color: #a0c0dc;
  padding: 20px;
  color: #fff;
  border-top: 3px solid #689fbf;
  font-size: 18px;
}
.meal-info .content {
  padding: 20px;
}
.meal-info .meal-info-detail {
  float: left;
  width: 200px;
  margin-right: 20px;
}
.meal-info .meal-info-detail .meal-detail {
  margin-bottom: 10px;
}

.meal-info .meal-info-detail .info{
  padding: 3px;
  background-color: #FFFDEF;
  border: 1px solid #D1A87B;
  color: #D3A35B;
  border-radius: 3px;
}

.meal-info .meal-info-detail .meal-detail .key {
  color: #777;
}
.meal-info .meal-info-detail .meal-attend,
.meal-info .meal-info-detail .meal-full {
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  color: #efefef;
  padding: 3px 20px;
  margin-bottom: 20px;
}

.meal-info .meal-info-detail .meal-attend {
  text-shadow: 0px 1px 1px #666;
  box-shadow: 0 2px 2px -1px #999;
  cursor:pointer;
  background-image: -webkit-linear-gradient(#a0c0dc 0%, #689fbf 100%);
}

.meal-info .meal-info-detail .meal-attend-sure{
  color:#060;
  margin-right:10px;
}

.meal-info .meal-info-detail .meal-full {
  background-color: #eee;
  border: 1px solid #ccc;
  color: #ccc;
  border-radius: 5px;
}
.meal-info .meal-pic {
  float: left;
  width: 500px;
  height: 300px;
  text-align: center;
  overflow: hidden;
}
.meal-info .meal-pic img {
  max-width: 500px;
  max-height:375px;
}

.meal-desc{
  padding:20px;
  margin-bottom:20px;
  background-color: #fff;
}

.meal-desc .key{
  color:#4A86B4;
}

.discuss{
  background-color: #fff;
  padding:20px;
}

.discuss .content-list td{
  padding:5px;
  border-bottom:1px dashed #ccc;
}



.meal-dishes {
  background: #fff;
}
.meal-dishes h2 {
  text-align: center;
  color: #666;
  margin: 43px 10px;
  font-size: 24px;
}
.meal-dishes .menu-page {
  float: left;
  width: 253px;
}
.meal-dishes .menu-page .dish-pic-list {
  margin: 20px;
}
.meal-dishes .menu-page .dish-pic-list .dish-name {
  font-size: 14px;
}
.meal-dishes .menu-page li {
  border-bottom: 1px dotted #ccc;
  padding: 10px 0;
}
.meal-dishes .menu-page .dish-pic {
  float: left;
  width: 120px;
  height: 80px;
  margin-right: 10px;
}
.meal-dishes .menu-page .dish-text-list {
  margin: 20px;
}
.meal-dishes .menu-page .dish-text-list li {
  padding: 11px 0 12px 0;
}

#bd .aside .participant .head {
  background-color: #a0c0dc;
  border-top: 3px solid #689fbf;
  padding: 10px;
  color: #fff;
}
#bd .aside .participant .user {
  padding: 10px 0;
  border-bottom: 1px dashed #ccc;
  margin: 0 10px;
}
#bd .aside .participant .user:last-child {
  border: none;
}
#bd .aside .participant .user .avatar {
  float: left;
  width:50px;
  height:50px;
  margin-right: 10px;
}
#bd .aside .participant .user .name {
  display: block;
}
