
/* 聚餐信息 */
.dating-info{background-color: #fff;margin-bottom: 20px;}
.dating-info .title{background-color:#A0C0DC;padding:20px;color:#fff;border-top:3px solid #689FBF;font-size: 18px;}
.dating-info .content{padding:20px;}
.dating-info .dating-info-detail{float:left;width:200px;margin-right:20px;}
.dating-info .dating-info-detail .dating-detail{margin-bottom:10px;}
.dating-info .dating-info-detail .dating-detail .key{color:#777;}

.dating-info .dating-info-detail .dating-attend,
.dating-info .dating-info-detail .dating-full{font-size: 20px;text-align: center;border-radius: 5px;color: #EFEFEF;padding: 3px 20px;margin-bottom:20px;}

.dating-info .dating-info-detail .dating-attend{text-shadow: 0px 1px 1px #666;box-shadow: 0 2px 2px -1px #999;background-image: -webkit-linear-gradient(#A0C0DC 0%, #689FBF 100%);}
.dating-info .dating-info-detail .dating-full{background-color:#eee;border:1px solid #ccc;color:#ccc;border-radius: 5px;}

.dating-info .dating-pic{float:left;width:500px;height:300px;overflow: hidden}
.dating-info .dating-pic img{width:500px;}

/* 菜目信息 */
.dating-dishes{background:#fff;}
.dating-dishes h2{text-align: center;color: #666;margin: 43px 10px;font-size: 24px;}
.dating-dishes .menu-page{float:left;width:253px;}
.dating-dishes .menu-page .dish-pic-list{margin:20px;}
.dating-dishes .menu-page .dish-pic-list .dish-name{font-size:14px;}

.dating-dishes .menu-page li{border-bottom: 1px dotted #ccc;padding: 10px 0;}
.dating-dishes .menu-page .dish-pic{float:left;width:120px;height:80px;margin-right:10px;}

.dating-dishes .menu-page .dish-text-list{margin:20px;}
.dating-dishes .menu-page .dish-text-list li{padding:11px 0 12px 0;}



/* 参与者信息 */
#bd .aside .participant{}
#bd .aside .participant .head{background-color: #A0C0DC;border-top:3px solid #689FBF;padding:10px;color:#fff;}
#bd .aside .participant .user{padding: 10px 0;border-bottom:1px dashed #ccc;margin: 0 10px;}
#bd .aside .participant .user img{width:48px;height:48px;}
#bd .aside .participant .user:last-child{border: none;}
#bd .aside .participant .user .avatar{float:left;margin-right:10px;}
#bd .aside .participant .user .name{display: block}