#bd .main{
  width: 960px;
  background: #fff;
  border-radius: 5px;
}

#bd .steps{
	padding:40px 40px 0 40px;
}
#bd .steps .step{
	float:left;
	margin-left:20px;
} 
#bd .steps .current{
	color:#689FBF;
}
#bd .create-form {
  padding: 50px;
  width:460px;
}
#bd .create-form label{
	float:left;
	padding:4px 0;
}
#bd .create-form .item {
  margin-bottom: 20px;
  margin-left:110px;
  display:block;
}

#bd .create-form .err {
	color:#F30;
	margin-left:5px;
	margin-top:3px;
	vertical-align:top;
	display: inline-block;
}

#bd .create-form .item input,#bd .create-form .item textarea{
	width: 350px;
  	border-radius: 3px;
	box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
	border: 1px solid #CCC;
	outline: none;
	padding: 4px 6px;
  	line-height: 24px;
}

#bd .create-form .btn{
	float:right;
	padding:4px 10px;
}


#bd .create-form .btn-cancel{
	float:right;
	padding:4px 10px;
	margin-left:10px;
}


#bd #date{
	width:240px;
}

#time{
	margin-left:15px;
	width: 90px;
	line-height: 30px;
	height: 30px;
	border-radius: 3px;
	box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
	border: 1px solid #CCC;
	outline: none;
	padding: 4px 6px;
	line-height: 24px;
}



.upload_poster{

}

.upload_poster .preview{
	float:left;
	margin:20px;
}


.upload_poster .preview .img{
	border:1px dashed #689FBF;
}

.upload_poster .upload{
	margin:0 20px;
	float:left;
}

.upload_poster .upload .btn{
	padding:4px 10px;
	line-height: 16px;
	margin-right: 8px;
}
