#bd {
  width: 960px;
  background: #fff;
}
#bd form {
  padding: 50px;
}
#bd form label{
	float:left;
	padding:4px 0;
}
#bd form .item {
  margin-bottom: 20px;
  margin-left:110px;
  display:block;
}

#bd form .item input,#bd form .item textarea{
	width: 350px;
  border-radius: 3px;
	box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
	border: 1px solid #CCC;
	line-height: 16px;
	outline: none;
	padding: 4px 6px;
  line-height: 24px;
}

#bd form .btn{
	float:left;
	padding:4px 10px;
	margin-left:410px;
}